﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KJV One Click Bible Study</h1>
    <p class="lead">This is a free King James Version Bible Study web application that allows students to save and lookup Bible verses.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Save a Bible Verse</h2>
        <p>
            When you need to take notes and you don't want to mark up your Bible!
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "VerseLogger")'>Start Saving Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Your Saved Verses</h2>
        <p>Displays a list of all your saved verses and notes.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "SavedVerse")'>View Saved Verses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search for Verses</h2>
        <p>You can search the entire Bible (King James Version) to get a verse. </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "BibleSearch")'>Search Now &raquo;</a></p>
    </div>
</div>