﻿@{
    /* CST-247 Enterprise Application Programming III
     * Benchmark
     * Index, Version 
     * Gary Davis
     * 09/01/2019
     * This view will display a list of user saved verses.
     */
}

@model IEnumerable<BibleVerseWebApp.Models.BIBLE_ENTRY>

@{
    ViewBag.Title = "Saved Verses";
}

<h2>My Saved Verses</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Testament")
        </th>
        <th>
            @Html.DisplayName("Book")
        </th>
        <th>
            @Html.DisplayName("Chapter #")
        </th>
        <th>
            @Html.DisplayName("Verse #")
        </th>
        <th>
            @Html.DisplayName("Verse")
        </th>
        <th>
            @Html.DisplayName("Personal Notes")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.testament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verse_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
        </tr>
    }

</table>
