﻿@{
    /* CST-247 Enterprise Application Programming III
     * Benchmark
     * Index, Version
     * Gary Davis
     * 09/08/2019
     * This view will allow the user search for any KJV Bible verse.
     */
}

@model BibleVerseWebApp.Models.BIBLE_VERSES

@{
    ViewBag.Title = "KJV Bible";
}

<h2>King James Bible</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Verse Search</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Testament:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.testament, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.testament, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Book Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chapter #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chapter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chapter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Verse #:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.verse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.verse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" Find " class="btn btn-default" />
                <input type="button" value="Clear" onclick="location.href='@Url.Action("Index", "BibleSearch")';return false;" class="btn btn-default" />
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.Label("Verse Text:", htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
            <div class="col-md-10">
                @ViewData["verseTxt"]
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
